*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.contenedor{
    background-color: steelblue;
}
.logo{
    background-color: tomato;
    width: 5rem;
    height: 5rem;
    border-radius: 0px;
    margin-top: auto;
    margin-left: auto;    
}
.contenedor .barra{
   height: 80px;
   width: 95rem;
   display: inline-block;
   position: relative;
   top: -100px;
   left:100px;
   background-color: thistle;
}
.lista{
    background-color: turquoise;
    align-items: center;
}
li{
    background-color: violet;
    display: inline-block;
}