*{
    margin: 0;
    padding: 0;
}
.contenedor{
    background-color: steelblue;
}
.contenedor .logo{
    width: 5rem;
    height: 5rem;
}
.contenedor .barra{
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}