body{
    margin: 0;
}
.contenedor{
    background-color: steelblue;
}
.contenedor .logo{
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
}
.contenedor .barra{
   height: 80px;
   width: 200px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: thistle;
   margin-left: auto;
}